{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div class="price-card">
      <div class="crypto-info">
        <h2>Ethereum (ETH)</h2>
      </div>
      <div class="price-info">
        <div id="price" class="price">Loading...</div>
        <div id="change" class="change">--</div>
      </div>
      <div class="price-range">
        <div class="range-label">{{ defi_pool_name }} Price Range</div>
        <div class="range-values">
          <span id="min-price"></span>
          <span id="max-price"></span>
        </div>
        <div class="range-bar">
          <div class="range-progress" id="range-progress"></div>
        </div>
      </div>
      <div id="last-update" class="last-update"></div>
    </div>
    <div id="error" class="error-message" style="display: none;"></div>
  </div>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

{% endblock%}
